* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "PT Sans", sans-serif;
}
body a {
  text-decoration: none;
  list-style: none;
}

nav .container {
  display: grid;
  grid-template-columns: max-content 60% max-content max-content;
  grid-template-areas: "navbar-brand navigation-link trying-app register-form";
  gap: 25px;
  border: 1px solid lightgray;
  height: 60px;
  justify-content: center;
  align-items: center;
}
nav .container .navbar-brand {
  margin-left: 5px;
}
nav .container ul {
  font-size: 1.2em;
  display: flex;
  justify-content: start;
}
nav .container ul li {
  display: inline;
  margin-left: 35px;
  font-weight: 700;
}
nav .container ul li a {
  color: #000000;
}
nav .container ul li span {
  color: #ff764d;
}
nav .container .trying-app span {
  color: #0000ff;
  font-size: 1.1em;
  font-weight: 700;
}
nav .container .register-form {
  font-size: 0.9em;
  font-weight: 700;
}
nav .container .register-form a {
  color: #000000;
}

.navigation-page {
  display: block;
  font-size: 1em;
}
.navigation-page ul {
  margin-top: 25px;
  margin-left: 60px;
}
.navigation-page ul li {
  display: inline;
  margin-left: 25px;
  font-weight: 700;
  line-height: 50%;
}
.navigation-page ul li a {
  color: #000000;
}
.navigation-page ul li span {
  color: #ff764d;
}

.navbar-scrolled {
  background-color: white;
  opacity: 0.8;
  top: 0;
  left: 0;
  position: sticky;
  transition: 0.3s;
  height: 50px;
  z-index: 1;
}

#hero {
  position: relative;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ff764d;
  height: 600px;
  background: url(img/hero-image.jpg);
  background-repeat: no-repeat;
  background-position: 50%;
  padding: 0;
}
#hero h1 {
  font-size: 8em;
  font-weight: 700;
}

figcaption {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  margin-top: -35px;
  color: #ff764d;
  text-shadow: 1px -0.5px black;
  font-size: 0.8em;
}

#about article {
  margin: 150px auto;
  width: 70%;
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-areas: "column-1 column-2 column-3";
}
#about article p {
  font-size: 1.8em;
  font-weight: 700;
}
#about article p span {
  color: #0000ff;
}
#about article .second-paragraph {
  font-size: 1.1em;
  line-height: 1.8em;
  word-spacing: 0.1ch;
  letter-spacing: 0.1px;
  font-weight: normal;
}
#about .bg-yellow {
  position: absolute;
  width: 59%;
  height: 700px;
  background-color: #fbffa7;
  right: 0;
}
#about figure {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 700px;
  align-items: center;
}
#about figure .ableton-6 {
  margin: 150px auto;
}
#about .video {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: -150px auto;
}
#about .video figcaption {
  margin-top: -100px;
  margin-left: -500px;
  color: #000000;
  text-shadow: none;
  font-size: 0.9em;
}
#about .bg-green {
  position: absolute;
  width: 59%;
  height: 1000px;
  background-color: #b6ffc0;
}
#about .bg-green-col {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr;
  grid-template-areas: "fig-1 fig-2";
}
#about .bg-green-col .fig-1 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 1000px;
  align-items: center;
}
#about .bg-green-col .fig-2 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 1000px;
  align-items: center;
}
#about .bg-purple {
  position: absolute;
  width: 60%;
  height: 700px;
  background-color: #d5b3ff;
  left: 20%;
}
#about figure {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 700px;
  align-items: center;
}
#about .card {
  height: 450px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 100px;
}
#about .card img {
  width: 45%;
  height: 450px;
}
#about .card .container {
  background-color: #b1c5ff;
  width: 45%;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#about .card .container p {
  font-size: 1.6em;
  font-weight: 700;
  margin: 10px 100px;
  line-height: 1.8;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-top: 1.2px solid lightgray;
}
footer .main-container {
  width: 80%;
  margin: 100px auto;
}
footer .main-container .brand-container {
  font-size: 2.4em;
}
footer .main-container .navigation-container {
  display: grid;
  grid-template-columns: 325px 1.5fr 3.5fr;
  grid-template-areas: ".container-1 .container-2 .container-3";
  gap: 2.5rem;
  font-size: 1em;
  line-height: 1.8rem;
  font-weight: 400;
}
footer .main-container .navigation-container h3 {
  margin-top: 50px;
  margin-bottom: 10px;
}
footer .main-container .navigation-container ul {
  text-decoration: none;
  list-style: none;
}
footer .main-container .navigation-container ul li a {
  color: #000000;
}
footer .main-container .navigation-container i {
  padding-top: 25px;
  padding-right: 5px;
}
footer .main-container .navigation-container .content-nav {
  margin-top: 50px;
  margin-right: 50px;
}
footer .main-container .navigation-container .selection-form {
  position: relative;
  display: flex;
  margin-top: 15px;
}
footer .main-container .navigation-container .selection-form .language-picker__form select {
  width: 125px;
  height: 35px;
  padding: 5px;
  background-color: lightgrey;
  border: none;
  margin-right: 2px;
  font-family: "PT Sans", sans-serif;
}
footer .main-container .navigation-container .selection-form .geolocation select {
  width: 175px;
  height: 35px;
  padding: 5px;
  background-color: lightgrey;
  border: none;
  font-family: "PT Sans", sans-serif;
}
footer .main-container .navigation-container .newsletter .subscription-box {
  display: flex;
  margin-top: 15px;
}
footer .main-container .navigation-container .newsletter .subscription-box input {
  width: 275px;
  height: 35px;
  padding: 5px;
  background-color: lightgrey;
  border: none;
  font-family: "PT Sans", sans-serif;
}
footer .main-container .navigation-container .newsletter .subscription-box button {
  width: 125px;
  height: 45px;
  padding: 5px;
  color: white;
  background-color: #0000ff;
  border: none;
  font-size: 1em;
  font-weight: 700;
}
footer .main-container .foot-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 80px auto;
}
footer .main-container .foot-container .resources {
  width: 50%;
}
footer .main-container .foot-container .resources ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
footer .main-container .foot-container .resources li {
  display: inline;
  font-size: 0.8em;
}
footer .main-container .foot-container .resources li a {
  color: #000000;
}
footer .main-container .foot-container .foot-brand {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-size: 0.8em;
}
footer .main-container .foot-container .foot-brand h2 {
  margin-left: 10px;
}/*# sourceMappingURL=style.css.map */