// Colors
$primaryColor: #fbffa7;
$secondaryColor: #b1c5ff;
$tertiaryColor: #b6ffc0;
$quaternaryColor: #ff764d;
$quinaryColor: #d5b3ff;
$textColor: #000000;
$linkColor: #0000ff;

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "PT Sans", sans-serif;
  // height: 10000px;
  a {
    text-decoration: none;
    list-style: none;
  }
}

nav {
  .container {
    display: grid;
    grid-template-columns: max-content 60% max-content max-content;
    grid-template-areas: "navbar-brand navigation-link trying-app register-form";
    gap: 25px;
    border: 1px solid lightgray;
    height: 60px;
    justify-content: center;
    align-items: center;
    .navbar-brand {
      margin-left: 5px;
    }
    ul {
      font-size: 1.2em;
      display: flex;
      justify-content: start;
      li {
        display: inline;
        margin-left: 35px;
        font-weight: 700;
        a {
          color: $textColor;
        }
        span {
          color: $quaternaryColor;
        }
      }
    }
    .trying-app {
      span {
        color: $linkColor;
        font-size: 1.1em;
        font-weight: 700;
      }
    }
    .register-form {
      font-size: 0.9em;
      font-weight: 700;
      a {
        color: $textColor;
      }
    }
  }
}

.navigation-page {
  display: block;
  font-size: 1em;

  ul {
    margin-top: 25px;
    margin-left: 60px;
    li {
      display: inline;
      margin-left: 25px;
      font-weight: 700;
      line-height: 50%;
      a {
        color: $textColor;
      }
      span {
        color: $quaternaryColor;
      }
    }
  }
}
.navbar-scrolled {
  background-color: white;
  opacity: 0.8;
  top: 0;
  left: 0;
  position: sticky;
  transition: 0.3s;
  height: 50px;
  z-index: 1;
}

#hero {
  position: relative;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $quaternaryColor;
  height: 600px;
  background: url(img/hero-image.jpg);
  background-repeat: no-repeat;
  background-position: 50%;
  padding: 0;
  h1 {
    font-size: 8em;
    font-weight: 700;
  }
}

figcaption {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  margin-top: -35px;
  color: $quaternaryColor;
  text-shadow: 1px -0.5px black;
  font-size: 0.8em;
}

#about {
  article {
    margin: 150px auto;
    width: 70%;

    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-areas: "column-1 column-2 column-3";
    p {
      font-size: 1.8em;
      font-weight: 700;

      span {
        color: $linkColor;
      }
    }
    .second-paragraph {
      font-size: 1.1em;
      line-height: 1.8em;
      word-spacing: 0.1ch;
      letter-spacing: 0.1px;
      font-weight: normal;
    }
  }

  .bg-yellow {
    position: absolute;
    width: 59%;
    height: 700px;
    background-color: $primaryColor;
    right: 0;
  }
  figure {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 700px;
    align-items: center;
    .ableton-6 {
      margin: 150px auto;
    }
  }

  .video {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: -150px auto;
    figcaption {
      margin-top: -100px;
      margin-left: -500px;
      color: $textColor;
      text-shadow: none;
      font-size: 0.9em;
    }
  }

  .bg-green {
    position: absolute;
    width: 59%;
    height: 1000px;
    background-color: $tertiaryColor;
  }
  .bg-green-col {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    grid-template-areas: "fig-1 fig-2";
    .fig-1 {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      height: 1000px;
      align-items: center;
    }
    .fig-2 {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 1000px;
      align-items: center;
    }
  }

  .bg-purple {
    position: absolute;
    width: 60%;
    height: 700px;
    background-color: $quinaryColor;
    left: 20%;
  }
  figure {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 700px;
    align-items: center;
  }
  .card {
    height: 450px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 100px;
    img {
      width: 45%;
      height: 450px;
    }
    .container {
      background-color: $secondaryColor;
      width: 45%;
      height: 450px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      p {
        font-size: 1.6em;
        font-weight: 700;
        margin: 10px 100px;
        line-height: 1.8;
      }
    }
  }
}
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-top: 1.2px solid lightgray;

  .main-container {
    width: 80%;
    margin: 100px auto;
    .brand-container {
      font-size: 2.4em;
    }
    .navigation-container {
      display: grid;
      grid-template-columns: 325px 1.5fr 3.5fr;
      grid-template-areas: ".container-1 .container-2 .container-3";
      gap: 2.5rem;

      font-size: 1em;
      line-height: 1.8rem;
      font-weight: 400;
      h3 {
        margin-top: 50px;
        margin-bottom: 10px;
      }
      ul {
        text-decoration: none;
        list-style: none;

        li {
          a {
            color: $textColor;
          }
        }
      }
      i {
        padding-top: 25px;
        padding-right: 5px;
      }
      .content-nav {
        margin-top: 50px;
        margin-right: 50px;
      }
      .selection-form {
        position: relative;
        display: flex;
        margin-top: 15px;
        .language-picker__form {
          select {
            width: 125px;
            height: 35px;
            padding: 5px;
            background-color: lightgrey;
            border: none;
            margin-right: 2px;
            font-family: "PT Sans", sans-serif;
          }
        }

        .geolocation {
          select {
            width: 175px;
            height: 35px;
            padding: 5px;
            background-color: lightgrey;
            border: none;
            font-family: "PT Sans", sans-serif;
          }
        }
      }
      .newsletter {
        .subscription-box {
          display: flex;
          margin-top: 15px;
          input {
            width: 275px;
            height: 35px;
            padding: 5px;
            background-color: lightgrey;
            border: none;
            font-family: "PT Sans", sans-serif;
          }
          button {
            width: 125px;
            height: 45px;
            padding: 5px;
            color: white;
            background-color: $linkColor;
            border: none;
            font-size: 1em;
            font-weight: 700;
          }
        }
      }
    }
    .foot-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin: 80px auto;

      .resources {
        width: 50%;

        ul {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
        }
        li {
          display: inline;
          font-size: 0.8em;
          a {
            color: $textColor;
          }
        }
      }
      .foot-brand {
        display: inline-flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        font-size: 0.8em;

        h2 {
          margin-left: 10px;
        }
      }
    }
  }
}
